@model MLB_App.Models.PlayerDetail

@{
    ViewBag.Title = "PlayerDetail";
}

<h2>Player Detail</h2>

<div>
    <h4>Player Details</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<table class="table">
    <tr>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center">Name</th>
        <th scope="col" class="text-center">Jersey Num</th>
        <th scope="col" class="text-center">Team</th>
        <th scope="col" class="text-center">Birthday</th>
        <th scope="col" class="text-center">Position</th>
        <th scope="col" class="text-center">Bat</th>
    </tr>
    <tr>
        <td scope="row" class="text-center"><img src="~/Content/Img/mlb_icon.png" style="width: 40px; height: 40px;" /></td>
        <td scope="row" class="text-center">@Model.body.longName</td>
        <td scope="row" class="text-center">@Model.body.jerseyNum</td>
        <td scope="row" class="text-center">@Model.body.teamAbv</td>
        <td scope="row" class="text-center">@Model.body.pos</td>
        <td scope="row" class="text-center">@Model.body.bat</td>
    </tr>
</table>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
