@model MLB_App.Models.DailySchedule
@using MLB_App.Utils;

@{
    ViewBag.Title = "Daily Schedule";
}

<h2 class="text-center">Game Schedule @ViewData["gameDate"]</h2>

<div class="text-center">
    <form id="mainForm" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="GetDailySchedule" class="form-group text-center">
    @*<form id="mainForm" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="GetPastScheduleResults" class="form-group text-center">*@
        @*<input class="input-lg" id="date-input" type="date" name="gameDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" />*@
        <div class="input-group">
            <input class="input-sm" id="date-input" type="date" name="gameDate" value="@ViewData["gameDate"]" />
            <input class="btn-primary btn-sm btn-group" id="daily-schedule" formmethod="post" formaction="GetDailySchedule" type="submit" value="Search" />
            @*<input class="btn-primary btn-sm btn-group" id="daily-schedule" formmethod="post" formaction="GetPastScheduleResults" type="submit" value="Search" />*@
        </div>
    </form>
</div>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th scope="col" class="text-center">Line</th>
            <th scope="col" class="text-center">Game Type</th>
            <th scope="col" class="text-center">Home Starting Pitcher</th>
            <th scope="col" class="text-center">Home</th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">Away</th>
            <th scope="col" class="text-center">Away Starting Pitcher</th>
            <th scope="col" class="text-center">Game Date</th>
            <th scope="col" class="text-center">Game Time</th>
            <th scope="col" class="text-center">Game Result</th>
        </tr>
        @{ int count = 1;}

        @foreach (var item in Model.body)
        {

            DateTime gameDateTime = item.ConvertStringToDateTime(item.gameDate);
            
            string awayId = String.Empty;
            string homeId = String.Empty;
            if (item.probableStartingPitchers != null)
            {
                awayId = item.probableStartingPitchers.Away != null ? item.probableStartingPitchers.Away : "";
                homeId = item.probableStartingPitchers.Home != null ? item.probableStartingPitchers.Home : "";
            }

            string homePlayer = item.GetPlayerNameById(homeId);
            string awayPlayer = item.GetPlayerNameById(awayId);

    <tr id="@item.gameID">
        <!--<td scope="row" class="text-center"><img src="~/Content/Img/mlb_icon.png" style="width: 60px; height: 30px;" /></td>-->
        <td scope="row" class="text-center">@count</td>
        <td scope="row" class="text-center">@item.gameType.Replace("_", " ")</td>
        @if (String.IsNullOrEmpty(homePlayer))
        {
            <td scope="row" class="text-center">@homePlayer</td>
        }
        else
        {
            <td scope="row" class="text-center">@Html.ActionLink(@homePlayer, "PlayerInformation", new { id = homeId })</td>
        }
        <td scope="row" class="text-center">@item.home<img src="@StaticData.GetTeamLogoByNameAbbreviation(item.home)" style="width: 20px; height: 20px; margin: 10px;" /></td>
        <td scope="row" class="text-center">X</td>
        <td scope="row" class="text-center"><img src="@StaticData.GetTeamLogoByNameAbbreviation(item.away)" style="width: 20px; height: 20px; margin: 10px;" /> @item.away</td>
        @if (String.IsNullOrEmpty(awayPlayer))
        {
            <td scope="row" class="text-center">@awayPlayer</td>
        }
        else
        {
            <td scope="row" class="text-center">@Html.ActionLink(@awayPlayer, "PlayerInformation", new { id = awayId })</td>
        }
        <td scope="row" class="text-center">@DateParser.ConvertTimeEpochToDate(item.gameTime_epoch.Substring(0, 10))</td>
        <td scope="row" class="text-center">@DateParser.ConvertTimeEpochToLocalTime(@item.gameTime_epoch.Substring(0, 10))</td>
        <td scope="row" class="text-center">@Html.ActionLink("Game", "GameResult", new { gameId = @item.gameID })</td>
    </tr>
            { count = count + 1; }
        }
    </table>
}
else
{
<h2 class="text-center">No games on this date &#x1F613;</h2>
}
       