@model MLB_App.Models.DailySchedule

@{
    ViewBag.Title = "Daily Schedule";
}

<h2>MLB Daily Schedule - @ViewData["gameDate"]</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center">Game Type</th>
        <th scope="col" class="text-center">Home Starting Pitcher</th>
        <th scope="col" class="text-center">Home</th>
        <th scope="col" class="text-center"></th>
        <th scope="col" class="text-center">Away</th>
        <th scope="col" class="text-center">Away Starting Pitcher</th>
        <th scope="col" class="text-center">Game Date</th>
        <th scope="col" class="text-center">Game Time</th>
        <th scope="col" class="text-center">Game Result</th>
    </tr>
    @{ int count = 0;}

    @foreach (var item in Model.body)
    {

        DateTime gameDateTime = item.ConvertStringToDateTime(item.gameDate);
        string awayId = String.Empty;
        string homeId = String.Empty;
        if (item.probableStartingPitchers != null)
        {
            awayId = item.probableStartingPitchers.Away != null ? item.probableStartingPitchers.Away : "";
            homeId= item.probableStartingPitchers.Home != null ? item.probableStartingPitchers.Home : "";
        }

<tr>
    <td scope="row" class="text-center"><img src="~/Content/Img/mlb_icon.png" style="width: 60px; height: 30px;" /></td>
    <td scope="row" class="text-center">@item.gameType.Replace("_", " ")</td>
    @if (String.IsNullOrEmpty(homeId))
    {
        <td scope="row" class="text-center">@item.GetPlayerNameById(homeId)</td>
    }
    else
    {
        <td scope="row" class="text-center">@Html.ActionLink(@item.GetPlayerNameById(homeId), "PlayerInformation", new { id = homeId })</td>
    }
    <td scope="row" class="text-center">@item.home<img src="@item.GetTeamLogoByNameAbbreviation(item.home)" style="width: 20px; height: 20px; margin: 10px;" /></td>
    <td scope="row" class="text-center">X</td>
    <td scope="row" class="text-center"><img src="@item.GetTeamLogoByNameAbbreviation(item.away)" style="width: 20px; height: 20px; margin: 10px;" /> @item.away</td>
    @if (String.IsNullOrEmpty(awayId))
    {
        <td scope="row" class="text-center">@item.GetPlayerNameById(awayId)</td>
    }
    else
    {
        <td scope="row" class="text-center">@Html.ActionLink(@item.GetPlayerNameById(awayId), "PlayerInformation", new { id = awayId })</td>
    }
    <td scope="row" class="text-center">@ViewData["gameDate"]</td>
    <td scope="row" class="text-center">@item.gameTime.Replace("p", "")</td>
    <td>@Html.ActionLink("Game", "GameResult", new { gameId = @item.gameID })</td>
</tr>
        { count = count + 1; }
    }
</table>
